@import "tailwindcss";

@theme {
  --color-accent: #C7B39A;
  --color-accent-hover: #b09a82;
  --color-blue: #D0DEFB;
  --color-tan: #C7B39A;
  --color-bg: #3d5568;
  --color-card: #0d1420;
  --color-border: #1f1f1f;

  --font-oswald: var(--font-oswald);
  --font-opensans: var(--font-opensans);
}

body {
  background-color: #3d5568;
  color: #ffffff;
  font-family: var(--font-opensans), sans-serif;
}
